/* 
播放页样式
*/

/* 播放区样式 */
.play{
    height: 585px;
    background-color: #292929;
}
.play .title p{
    font-size: 14px;
    line-height: 50px;
    color: #ccc;
}
.play .title ul li{
    float: left;
    width: 86px;
    height: 24px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
}
.play .title ul li:nth-of-type(-n+2){
    color: #ff4a00;
    border: 1px solid #ff4a00;
    margin-right: 10px;
    border-radius: 3px;
}
.play .title ul li:nth-of-type(-n+2):hover{
    background-color: #ff4a00;
    color: #fff;
}
.play .title ul li:nth-of-type(3){
    color: #999;
}
.play .content{
    position: relative;
}
.play .content video{
    width: 860px;
    height: 485px;
    outline: none;
}

/* 播放控件 */
.play .content .play_content{
    width: 860px;
    height: 50px;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    bottom: 6px;
}
.play .content .play_content .left{
    position: absolute;
    width: 143px;
    height: 100%;
    left: 0;
    top: 0;
}
.play .content .play_content .left a{
    background: url(../image/d1.png) no-repeat;
    position: absolute;
    left: 13px;
    top: 12px;
    width: 21px;
    height: 26px;
}
.play .content .play_content .left a.photo{
    background: url(../image/d2.png) no-repeat;
}
.play .content .play_content .left p{
    font: 16px/18px 'microsoft yahei';
    color: #fff;
    position: absolute;
    left: 56px;
    top: 16px;
}
.play .content .play_content .center{
    position: absolute;
    width: 550px;
    height: 100%;
    left: 143px;
    top: 0;
}
.play .content .play_content .center .c_time{
    width: 100%;
    height: 4px;
    background: #be998f;
    position: absolute;
    left: 0;
    top: 25px;
    cursor: pointer;
}
.play .content .play_content .center .now_time{
    height: 4px;
    background: #2096ff;
    left: 0;
    top: 25px;
    z-index: 3;
    position: absolute;
    cursor: pointer;
}
.play .content .play_content .center .dlm{
    width: 25px;
    height: 25px;
    position: absolute;
    left: -9px;
    top: 16px;
    background: url(../image/d.png) no-repeat;
    background-size: 25px 25px;
    z-index: 3;
}
.play .content .play_content .right{
    width: 160px;
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
}
.play .content .play_content .right .r_time{
    font: 16px/18px 'microsoft yahei';
    color: #fff;
    width: 70px;
    position: absolute;
    top: 20px;
    z-index: 2;
    right: 82px;
}
.play .content .play_content .right .full{
    width: 39px;
    height: 39px;
    position: absolute;
    right: 31px;
    top: 8px;
    z-index: 2;
    background: url(../image/d3.png) no-repeat;
}
.play .content ul{
    width: calc(1200px - 860px);
    height: 484px;
    background-color: #3F3F3F;
}
.play .content ul li:nth-of-type(1){
    background-color: #3F3F3F;
}
.play .content ul li:nth-of-type(1) span{
    display: inline-block;
    width: 113px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #ccc;
    background-color: #323232;
    cursor: pointer;
}
.play .content ul li:nth-of-type(n+2){
    color: #999;
    background-color: #1F1F1F;
    padding: 20px 10px 20px 20px;
    border-bottom: 1px solid #373737;
    cursor: pointer;
}
.play .content ul li:nth-of-type(n+2):hover{
    background-color: #000;
}
.play .content ul li:nth-of-type(n+2) i{
    float: right;
    margin-right: 10px;
}
.play .content ul li.active{
    background-color: #000;
    color: #ff4a00;
}
.play .item ul li{
    font-size: 12px;
    float: left;
    color: #999;
    line-height: 40px;
    margin-right: 25px;
    cursor: pointer;
}
.play .item ul li:hover{
    color: #ff4a00;
}

/* 推荐课程样式 */
.recommend{
    padding-bottom: 30px;
}
.recommend .left{
    width: 860px;
    margin-top: 20px;
}
.recommend .left .title{
    line-height: 57px;
    font-size: 18px;
}
.recommend .left ul li{
    float: left;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.recommend .left ul li img{
    width: 200px;
    height: 112px;
}
.recommend .left ul li div{
    background-color: #f8f8f8;
    padding: 10px 12px;
}
.recommend .left ul li .name{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    font-size: 14px;
}
.recommend .left ul li .name:hover{
    text-decoration: underline;
}
.recommend .left ul li p{
    font-size: 14px;
}
.recommend .left ul li p span{
    text-decoration: line-through;
}
.recommend .left ul li p i{
    color: #ff7223;
}
.recommend .left ul li p a{
    color: #18b160;
}
.recommend .left ul li p a:hover{
    text-decoration: underline;
}
.recommend .right{
    width: 320px;
    margin-top: 25px;
}
.recommend .right .title{
    font-size: 18px;
    line-height: 36px;
    border-bottom: 1px solid #e7e7e7;
}
.recommend .right .content{
    text-align: center;
    padding-top: 40px;
    color:#adadad;
}