/*
*
   初始化代码
*
*/
* {
    padding: 0;
    margin: 0;
}
body {
    font:16px/1.5  Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
a  {
    text-decoration: none;
}
ul,ol {
    list-style: none;
}
img {
    /* 设置对齐 */
    vertical-align: middle;
}
button,input,textarea {
    border:0;
    outline:none;
}
table {
    border-collapse: collapse;
}
em,i {
    font-style: normal;
}
b,strong {
    font-weight: 400;
}